body {
  background-color: rgba(0 , 163 , 27 , 0.788);
}

main {
  background-color: white;
  width: 80%;
  height: 400px;
  border-radius: 10px;
}

p {
  font-style: italic;
}

input , p , h1 {
  margin-left: 15px;
  margin-bottom: 15px;
}

#criar-tarefa {
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}

.selecionaCor {
  background-color: rgb(128 , 128 , 128);
}

.completed {
  text-decoration: line-through;
}

#apaga-tudo , #remover-finalizados , #salvar-tarefas , #remover-selecionado {
  margin-left: 15px;
  border-radius: 5px;
}
tudo , #remover-finalizados , #salvar-tarefas {
    margin-left: 15px;
    border-radius: 5px;
  }